{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Create a puzzle
{% endblock %}

{% block description %}
An online crossword composer. Create your own 15x15 blocked puzzle here.
{% endblock %}

{% block main %}
<div class="puzzle" role="main">
	<div id="grid-wrapper">
		<div id="grid" data-number="{{ number }}" data-author="{{ author }}"> 
			<input id="ip" type="text" autocomplete="off">
			{% block loading %}
			<div id="loading" class="instructions">
				<p>Loading...</p>
			</div>
			{% endblock %}
			<div id="choose-grid-message" class="instructions" style="display: none;">
				<p>Welcome to the crossword composer!</p>
				<p>Here, you can construct your own crossword interactively.</p>
				<p class="pointy">To begin, choose a grid&nbsp;</p>
			</div>
			{% block render_grid %}{% endblock %}
		</div>
		<div id="grid-assistant">
			<div id="intro-message" class="instructions" style="display: none;">
				<p>&uarr;<br>Click and type to fit some words together.</p>
				<p class="pointy">Click on a clue to edit it. Have fun!&nbsp;</p>
			</div>
			<div id="suggestions">
				<!-- Suggested words are shown here -->
			</div>
			<div class="fade">
			</div>
		</div>
	</div>
	<div id="blanks" style="display: none;">
		{% for img in thumbs %}
		{{ img|safe }}
		{% endfor %}
	</div>
	<div id="clues" style="display: none;">
		<div class="clue-box">
			<h4>Across</h4>
			<ul>
				{% block across_clues %}{% endblock %}
			</ul>
		</div>
		<div class="clue-box">
			<h4>Down</h4>
			<ul>
				{% block down_clues %}{% endblock %}
			</ul>
		</div>
		<div class="buttons">
			<button onclick="PuzzleCreator.openHelp()">Help</button>
			<button onclick="PuzzleCreator.printPuzzle()">Print puzzle</button>
			<button onclick="PuzzleCreator.printSolution()">Print solution</button>
			<button onclick="PuzzleCreator.downloadIpuz()">Download as ipuz</button>
			<button id="cancel" onclick="PuzzleCreator.cancelEdit()">Cancel edit</button>
			<button id="restart" onclick="PuzzleCreator.restart()">Start over</button>
		</div>
	</div>
	<div id="help-text" style="display: none;">
		<h4>Building the grid</h4>
		<p>Click on a white square and start typing the word you want. A list of words and phrases
			which fit will appear in the little box underneath the grid. There may be a lot of them, so scroll the box to see them all.
			Click on any word or phrase to insert it into the grid. The clue enumeration will automatically update to match.</p>
		<p>As you fill words in, you may find places where nothing good fits. That's part of the challenge! To backtrack,
			select an entry in the grid and click &lsquo;clear&rsquo; in the box underneath.</p>
		<p>Progress is automatically saved in your browser as you go along, and will persist until its cache is cleared or you click &lsquo;start over&rsquo;.
			If you've put a lot of work into your crossword, print a hard copy! Long-term storage isn't available here yet.</p>

		<h4>Writing clues</h4>
		<p>Clue entry is free-form, and this tool is too dumb to help you with them. It provides convenient spaces to write them down, but the rest is up to you!</p>

		<h4>It's finished, what now?</h4>
		<p>Use the buttons beneath the clues to print out your puzzle and its solution. You can also download it as an
			<a href="http://www.ipuz.org">ipuz</a> file, a text format which is compatible with professional
			software such as <a href="http://www.crossword-compiler.com/">Crossword Compiler</a> and
			<a href="http://www.crosswordman.com/sympathy.html">Sympathy</a>. If you have a UK-style cryptic and want
			an audience, try sending it to <a href="http://bigdave44.com/">Big Dave</a> for his
			<a href="http://crypticcrosswords.net/puzzles/rookie-corner/">Rookie Corner</a> series. It's a great place for beginners
			to get feedback and advice.</p>

		<h4>Upcoming features</h4>
		<p>There are plenty of things this tool can't yet do. Plans for the future include:
			<ul><li>User modification of grids to add or remove black squares</li>
				<li>Manual adjustment of clue enumeration for words not in the dictionary</li>
				<li>Saving crosswords on the server so that puzzles can be stored, linked, shared and solved online</li>
				<li>Downloading completed crosswords in PDF format</li></ul>
			If there's something else you'd like to see, please <a href="{% url 'contact' %}">get in touch</a>.</p>
		<div class="buttons">
			<button onclick="PuzzleCreator.closeHelp()">Close help</button>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'puzzle/FileSaver.min.js' %}"></script>
<script type="text/javascript" src="{% static 'puzzle/grid.js' %}"></script>
<script type="text/javascript" src="{% static 'puzzle/create.js' %}"></script>
<script>
	// @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt
	var wordListLocation = "{% static 'puzzle/wordlist.txt' %}";
	var blockImgLocation = "{% static 'images/grey-px.png' %}";
	var saveLocation = undefined;
	var storage = undefined;

	{% if number and author %}
	var saveLocation = "{% url 'puzzle' author number %}";
	var storage = "edit-{{ author }}-{{ number}}";
	{% endif %}

	PuzzleCreator.init(wordListLocation, blockImgLocation, saveLocation, storage);
	// @license-end
</script>
{% endblock %}
