{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Create a puzzle
{% endblock %}

{% block description %}
Online crossword creator. Create your own 15x15 blocked puzzle here.
{% endblock %}

{% block main %}
<div class="puzzle" role="main">
	<div id="grid-wrapper">
		<div id="grid">
			<input id="ip" type="text" autocomplete="off">
			<p class="instruction">Please make sure Javascript is enabled</p>
		</div>
		<div id="create">
		</div>
		<div class="fade">
		</div>
	</div>
	<div class="blanks">
		{% for img in thumbs %}
		{{ img|safe }}
		{% endfor %}
	</div>
	<div class="clues" style="display: none;">
		<div class="across clue-box clue-text">
			<h4>Across</h4>
			<ul>
			</ul>
		</div>
		<div class="down clue-box clue-text">
			<h4>Down</h4>
			<ul>
			</ul>
		</div>
        <div id="create-controls" class="buttons">
            <button id="ipuz">Download as ipuz</button>
        </div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'puzzle/grid.js' %}"></script>
<script type="text/javascript" src="{% static 'puzzle/create.js' %}"></script>
<script type="text/javascript" src="{% static 'puzzle/FileSaver.min.js' %}"></script>
<script>
	// @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt
	var wordListUrl = "{% static 'puzzle/wordlist.txt' %}";
 	var blockImgUrl = "{% static 'images/grey-px.png' %}"
	var contextBox = document.getElementById('create');
	var gridBox = document.getElementById('grid');
	var clueBox = document.getElementsByClassName('clues')[0];
	var clueLists = clueBox.getElementsByTagName('ul');
 	var ipuzButton = document.getElementById('ipuz');

	var grid = new GridModule.Grid(15, function(changeType) {
	    // New input
        var entry = grid.getActiveEntry();
        var checkers;

        // If the entry is complete, show alternatives
        if (entry.indexOf('.') == -1 && changeType == 'move') {
            checkers = grid.getActiveCheckers();
            if (checkers.search('[^\\.]') != -1)
                entry = checkers;
        }

	    suggestor.showSuggestions(entry);
    });

	var clearHandler = function() {
        grid.resetActiveEntry();
        ClueCreator.setNumeration(clueLists, grid.getActiveDirection(), grid.getActiveIndex(), grid.getActiveEntry());
        suggestor.showSuggestions(grid.getActiveEntry());
    };

 	var suggestor = new GridCreator.Suggestor(contextBox, clearHandler, function(suggestion) {
		grid.setActiveEntry(suggestion.replace(/[^A-Z]/g, ''));
		ClueCreator.setNumeration(clueLists, grid.getActiveDirection(), grid.getActiveIndex(), suggestion.replace(/[^- A-Z]/g, ''));
	});
	suggestor.loadWordList(wordListUrl);

	var connectControls = function() {
		grid.loadGrid(gridBox);

		var input = new GridModule.GridInput(grid);
		input.registerControl(document.getElementById('ip'), document.getElementById('antique-IE'));

		var squares = document.querySelectorAll('.block, .light');
		for (var i = 0; i < squares.length; i++) {
			squares[i].addEventListener('mousedown', function(e) {
				if (grid.activateClicked(this))
					input.reset();
				e.preventDefault();
				return false;
			});
		}

		document.getElementsByClassName('blanks')[0].style.display = 'none';
		clueBox.style.display = 'inline-block';
		ClueCreator.createClues(clueLists, grid.getClueNums(), grid.getWordLengths(), function() {
			// Clue selected for editing
			grid.clearActive();
			suggestor.clearSuggestions();
		});
		GridCreator.showHelpText(contextBox);

        ipuzButton.addEventListener('click', function(e) {
            var ipuz = PuzzleCreator.createIpuz(15, grid.getIpuzPuzzle(), grid.getIpuzSolution(),
                                                ClueCreator.getIpuzClues(clueLists[0]), ClueCreator.getIpuzClues(clueLists[1]));
            var blob = new Blob([ipuz], {type: "text/plain;charset=iso-8859-1"});
            saveAs(blob, 'ThreePins.ipuz');
        });
	};

 	var showInstruction = function() {
        GridCreator.showSelectGridInstruction(gridBox);
    };

 	showInstruction();
 	var thumbs = document.querySelectorAll('svg');
	for (var i = 0; i < thumbs.length; i++) {
		thumbs[i].addEventListener('mouseenter', function(e) {
			GridCreator.createBlankGrid(this, gridBox, blockImgUrl);
		});

		thumbs[i].addEventListener('mouseleave', showInstruction);
        
		thumbs[i].addEventListener('click', function(e) {
            this.removeEventListener('mouseleave', showInstruction);
			GridCreator.createBlankGrid(this, gridBox, blockImgUrl);
            connectControls();
		});
	}
	// @license-end
</script>
{% endblock %}
