{% extends "base.html" %}

{% block title %}Profile | Three Pins{% endblock %}

{% block description %}Puzzles created by the user.{% endblock %}

{% block main %}
<div class="simple-content">
	<p> My, crosswords! All puzzles created by {{ user.username }}.</p>
	{% if unpublished %}
	<div>
		<h3>Unpublished</h3>
		<ul>
			{% for puzzle in unpublished %}
			<li><a href="{% url 'puzzle' user.username puzzle.number %}"'> Puzzle #{{ puzzle.number }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if published %}
	<div>
		<h3>Published</h3>
		<ul>
			{% for puzzle in published %}
			<li><a href="{% url 'puzzle' user.username puzzle.number %}"'> Puzzle #{{ puzzle.number }} &mdash; {{ puzzle.date }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if not published and not unpublished %}
	<p>No saved puzzles - <a href="{% url 'create' %}">create one here</a>!</p>
	{% endif %}
</div>
{% endblock %}
