{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block nav %}
<li>
	{% if prev_puzzle >= 0 %}
	{% block prev %}<a href="{% url 'puzzle' prev_puzzle %}">&lt; Previous</a>{% endblock %}
	{% endif %}
</li>
{{ block.super }}
<li>
	{% if next_puzzle %}
	{% block next %}<a href="{% url 'puzzle' next_puzzle %}">Next &gt;</a>{% endblock %}
	{% endif %}
</li>
{% endblock %}

{% block main %}
<div class="puzzle" role="main">
	<div id="grid-wrapper">
		<h3>&#35;{{ number }} - {{ date }} - by {{ author }}</h3>
		<div id="grid" data-number="{{ number }}">
			<input id="ip" type="text" autocomplete="off">
			{% for row in grid %}
			{% for square in row %}
			<div data-x="{{ square.col }}" data-y="{{ square.row }}"
				 {% if square.letter %}
				 data-a="{{ square.letter }}"
				 {% endif %}
				 class="{{ square.type }}">
				{% if 'block' in square.type %}
				<img src="{% static 'images/grey-px.png' %}" alt="block" />
				{% endif %}
				{% if square.number %}
				<div class="grid-number">{{ square.number }}</div>
				{% endif %}
				{% if square.letter and show_answers %}
				<span class="letter">{{ square.letter }}</span>
				{% endif %}
			</div>
			{% endfor %}
			{% endfor %}
		</div>
		<div class="buttons">
        	{% block solution %}
			<a href="{% url 'solution' number %}">Solution</a>
	        {% endblock %}
		</div>
	</div>
	<div class="clues">
		<div class="across clue-box">
			<h4>Across</h4>
			<ul>
				{% for c in across_clues %}
				<li><span class="clue-number">{{ c.number }}</span> {{ c.clue|safe }} ({{ c.numeration }})</li>
				{% endfor %}
			</ul>
		</div>
		<div class="down clue-box">
			<h4>Down</h4>
			<ul>
				{% for c in down_clues %}
				<li><span class="clue-number">{{ c.number }}</span> {{ c.clue|safe }} ({{ c.numeration }})</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'puzzle/grid.js' %}"></script>
<script>
	// @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt
	var grid = new GridModule.Grid(15);
	grid.loadGrid(document.getElementById('grid'));
	grid.loadLetters();

	var input = new GridModule.GridInput(grid);
	input.registerControl(document.getElementById('ip'), document.getElementById('antique-IE'));

	var bb = new GridModule.ButtonBox(grid);
	bb.insertButtons(document.getElementsByClassName('buttons')[0]);

	var squares = document.querySelectorAll('.block, .light');
	for (var i = 0; i < squares.length; i++) {
		squares[i].addEventListener('mousedown', function(e) {
			if (grid.activateClicked(this))
				input.reset();
			e.preventDefault();
			return false;
		});
	}
	// @license-end
</script>
{% endblock %}
