/* Defaults */
* { margin: 0; padding: 0; }
body { font-family: "Source Sans Pro", Arial, sans-serif; }
h1 { font-family: Roboto, Verdana, sans-serif; font-weight: normal; padding-left: 10px; }
h2 { font-family: Roboto, Tahoma, sans-serif; font-size: 1em; font-weight: 300; font-style: italic; padding-left: 10px; }
h3 { display: block; text-align: right; font-size: 1em; font-weight: normal; }
a { text-decoration: none; color: #336600; }
a:hover { color: #0033cc; }
ul { list-style: none; }

/* Header */
header { text-align: center; margin: auto; padding-top: 5px; width: 250px; }
header img { float: left; border: 0px; }
nav { clear: left; font-size: 2em; font-weight: bold; text-align: center;
      background: url(images/nav.png) repeat-x; background-size: contain; margin: 10px 0px 20px 0px; }
nav ul { padding: 5px; }
nav li { display: inline; padding: 20px; }

/* Index */
#index-list { text-align: center; }
#index-list li { padding: 3px; }

/* Grid */
#grid { text-align: center; position: relative; }
#grid > input { opacity: 0; z-index: -1; position: absolute; top: 0px; left: -500px; }
#grid > div { float: left; position: relative; width: 28px; height: 28px; line-height: 28px; border-bottom: 1px solid black; border-right: 1px solid black; }
.grid-number { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; line-height: 100%; text-align: left; vertical-align: top; font-size: 11px; }
.block { background: black; }
.target { background: #ffef75; }
.highlight { background: #ffffba; }
.letter { font-family: "Patrick Hand SC", Tahoma, sans-serif; color: #336600; line-height: 100%; }
.buttons { text-align: right; padding-right: 10px; font-size: 0.8em; }

/* Clues */
.puzzle { clear: left; background: url(images/smudge.jpg) bottom right no-repeat; padding-bottom: 20px; }
.clues { display: inline-block; vertical-align: top; }
.clue-box { display: inherit; vertical-align: top; padding-left: 40px; margin: 0px 20px 20px -1px; }
.clue-number { font-weight: bold; }
.down { border-left: 1px dashed; }

/* Footer */
#cookie-warning { color: white; background: #336600; text-align: center; position: fixed; bottom: 0%; width: 100%; padding: 3px; }
#cookie-warning a { text-decoration: underline; color: SkyBlue; }
#cookie-warning button { background: beige; border: none; border-radius: 3px; padding: 2px; margin-left: 10px; }
#cookie-warning button:hover { background: white; }
footer { border-top: 1px solid; }

@media screen {
    #grid-wrapper { display: inline-block; margin: 0px 0px 20px 30px; }
    #grid { width: 436px; height: 436px; }
    #grid > div { width: 28px; height: 28px; line-height: 28px; border-bottom: 1px solid black; border-right: 1px solid black; }
    #grid > .topmost { border-top: 1px solid black; }
    #grid > .leftmost { border-left: 1px solid black; }
    #grid img { display: none; }
    .grid-number { top: 0px; font-size: 11px; }
    .clue-box { width: 300px; }
}

@media print {
    body { font-size: 0.8em; }
    h3 { font-size: 0.8em; }
    a { display: none; }
    header img { display: none; }
    nav { display: none; }

    #grid-wrapper { display: block; margin: 15px 0px 30px 100px; width: 376px; }
    #grid { width: 376px; height: 376px; }
    #grid > input { display: none; }
    #grid > div { width: 24px; height: 24px; line-height: 24px; border-bottom: 1px solid grey; border-right: 1px solid grey; }
    #grid > .topmost { border-top: 1px solid grey; }
    #grid > .leftmost { border-left: 1px solid grey; }
    #grid img { height: 100%; width: 100%; position: absolute; left: 0px; top: 0px;}
    .grid-number { top: 1px; font-size: 9px; }
    .clue-box { width: 260px; }
    .clue-box li { padding: 1px; }

    #cookie-warning { display: none; }
    footer { display: none; }
}