/* Defaults */
* { margin: 0; padding: 0; }
body { font-family: "Source Sans Pro", Arial, sans-serif; }
h1 { font-family: Roboto, Verdana, sans-serif; font-weight: normal; }
h2 { font-family: Roboto, Tahoma, sans-serif; font-size: 1em; font-weight: 300; font-style: italic; }
h3 { display: block; text-align: right; font-weight: normal; }
a { text-decoration: none; color: #336600; }
a:hover { color: #0033cc; }
ul { list-style: none; }
.simple-content { margin-bottom: 20px; text-align: center; }
.simple-content li { padding-bottom: 6px; }

/* Header */
header { text-align: center; margin: auto; padding-top: 5px; width: 250px; }
header img { float: left; border: 0px; }
nav { clear: left; font-weight: bold; text-align: center; margin: 10px 0px 20px 0px;
	  background: url(images/nav.png) repeat-x; background-size: contain; }
nav ul { padding: 5px; }
nav li { display: inline; white-space: nowrap; }

/* Contact */
#contact { max-width: 38em; margin: auto; }
#contact p { text-align: centre; padding-bottom: 0.1em; }
#contact p:nth-last-child(2) { margin-bottom: 1em; }
#contact .warning { margin-bottom: 0.7em; color: red; }
#contact label { float: left; clear: left; width: 6em; text-align: left; margin-left: 1em; }
#contact input, #contact textarea { float: left; padding: 0.3em; width: 78%; margin: 0em 0em 0.8em 1em; }
#contact textarea { height: 11em; }
#contact input.send-button { width: 6em; float: right; clear: both; margin-right: 18.5%; }
#contact input:focus, #contact textarea:focus { border: 2px solid #336600; }

/* Grid */
#grid { text-align: center; position: relative; }
#grid > input { opacity: 0; z-index: -1; position: absolute; top: 0px; left: -500px; }
#grid > div { float: left; position: relative; width: 28px; height: 28px; line-height: 28px; border-bottom: 1px solid black; border-right: 1px solid black; }
.grid-number { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; line-height: 100%; text-align: left; vertical-align: top; }
.block { background: black; }
.target { background: #ffef75; }
.highlight { background: #ffffba; }
.letter { font-family: "Patrick Hand SC", Tahoma, sans-serif; color: #336600; line-height: 100%; }
.buttons { text-align: right; padding-right: 10px; font-size: 0.8em; }
.buttons button { background: #adc199; color: white; border-radius: 4px; padding: 3px 4px 3px 4px; margin: 8px 0px 0px 5px; }
.buttons button:hover { background: #336600; }

/* Clues */
.puzzle { clear: left; background: url(images/smudge.jpg) bottom right no-repeat; padding-bottom: 20px; }
.clues { vertical-align: top; }
.clue-box { display: inline-block; vertical-align: top; padding-left: 30px; margin: 0px 20px 20px -1px; }
.clue-number { font-weight: bold; }
.down { border-left: 1px dashed; }

/* Grid Creator */
#grid > .instructions { font-family: "Patrick Hand SC"; font-size: 1.5em; color: #336600; width: 100%; height: 6em; border: none;
                        position: absolute; top: 50%; transform: translate(0%, -50%); }
.instructions > p { padding: 0.3em 0em 0.3em 0em; }
.blanks { display: inline-block; vertical-align: top; overflow: auto; }
.blanks > svg { float: left; padding: 2px; border: 5px solid transparent; }
.blanks > svg:hover { border: 5px solid #336600; cursor: pointer; }
#create { text-align: center; height: 7.5em; margin-top: 10px; overflow: auto; }
#create > .help-text { font-family: "Patrick Hand SC", Tahoma, sans-serif; font-size: 1.2em; color: #336600; padding-bottom: 0.3em; }
#create > .suggestion { font-family: "Patrick Hand SC", Tahoma, sans-serif; color: #336600; font-size: 0.8em;
                        padding: 0em 0.2em 0em 0.2em; border-radius: 5px; white-space: nowrap; }
#create > .suggestion:hover { background: #ffffba; cursor: pointer; }
#create > .padding { padding-bottom: 2em; }
#create > .warning { font-family: "Patrick Hand SC", Tahoma, sans-serif; color: red; }
.fade { position: relative; bottom: 2em; height: 2em; pointer-events: none;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); }
#create-controls { margin-right: 10px; }

/* Clue Creator */
.user-clue { margin-bottom: 4px; }
.user-clue > input { font-family: "Source Sans Pro", Arial, sans-serif; font-size: 1em; }
.user-clue > .clue-number { border-bottom: 2px solid white; }
.blank-clue { border-bottom: 1px dotted gray; }
.blank-clue > .numeration { float: right; }
.select-clue:hover { background: #ffffba; cursor: default; }

/* Footer */
footer { border-top: 1px solid; clear: both; }

@media screen {
	body { font-size: 0.85em; }
	h1 { padding-left: 10px; }
	h2 { padding-left: 10px; }
	h3 { font-size: 0.8em; }
	nav li { padding: 5px; }
	#grid-wrapper { display: inline-block; margin: 0px 20px 20px 10px; }
	#grid { width: 301px; height: 301px; }
	#grid > div { width: 19px; height: 19px; line-height: 19px; border-bottom: 1px solid black; border-right: 1px solid black; }
	#grid > .topmost { border-top: 1px solid black; }
	#grid > .leftmost { border-left: 1px solid black; }
	#grid img { display: none; }
	.grid-number { top: 0px; font-size: 9px; }
	.clues { display: inline-block; }
	.clue-box { width: 280px; }
    #create { width: 301px; }
    .blanks { width: 100%; }
    .blanks > svg { margin-left: 30px; }
    .instructions > p:last-child:after { content: "\2193" }
    #create > p:nth-child(2):after { content: "\2193"; }
}

@media screen and (min-width: 500px) {
	body { font-size: 1em; }
	h3 { font-size: 1em; }
	#grid { width: 436px; height: 436px; margin-left: 30px; }
	#grid > div { width: 28px; height: 28px; line-height: 28px; }
	.grid-number { font-size: 11px; }
    #create { width: 436px; margin-left: 30px; }
    .blanks > svg { margin-left: 0px; }
}

@media screen and (min-width: 580px) {
	.clue-box { width: 300px; }
}

@media screen and (min-width: 680px) {
	nav { font-size: 1.4em; }
	nav li { padding: 15px; }
}

@media screen and (min-width: 720px) {
	#contact p { padding-left: 5em; }
	#contact label { text-align: right; margin-left: 0em; }
	#contact input.send-button { margin-right: 1em; }
}

@media screen and (min-width: 870px) {
	nav { font-size: 1.8em; }
	nav li { padding: 20px; }
    .blanks { width: 350px; height: 490px; }
    .instructions > p:last-child:after { content: "\2192" }
}

@media screen and (min-width: 1020px) {
    .blanks { width: 520px; }
}

@media screen and (min-width: 1202px) {
    #create > p:nth-child(2):after { content: "\2197"; }
}

@media screen and (min-width: 1280px) {
	.clue-box { width: 320px; }
    .blanks { width: 700px; }
}

@media print {
	body { font-size: 0.75em; }
	h3 { font-size: 0.8em; }
	a { display: none; }
	header img { display: none; }
	nav { display: none; }
    #create { display: none; }
    .fade { display: none; }

	#grid-wrapper { display: block; margin: auto; padding: 15px 0px 30px 0px; width: 376px; }
	#grid { width: 376px; height: 376px; }
	#grid > input { display: none; }
	#grid > div { width: 24px; height: 24px; line-height: 24px; border-bottom: 1px solid grey; border-right: 1px solid grey; }
	#grid > .topmost { border-top: 1px solid grey; }
	#grid > .leftmost { border-left: 1px solid grey; }
	#grid img { height: 100%; width: 100%; position: absolute; left: 0px; top: 0px;}
	.grid-number { top: 1px; font-size: 9px; }
	.buttons { display: none; }
	.clues { display: block; width: 630px; margin: auto; }
	.clue-box { width: 260px; }
	.clue-box li { padding: 1px; }

	footer { display: none; }
}

@page { size: portrait; }