/* Defaults */
* { margin: 0; padding: 0; }
body, .user-clue > input { font-family: "Source Sans Pro", Arial, sans-serif; }
h1 { font-family: Roboto, Verdana, sans-serif; font-weight: normal; }
h2 { font-family: Roboto, Tahoma, sans-serif; font-size: 1em; font-weight: 300; font-style: italic; }
h3 { display: block; text-align: right; font-weight: normal; }
a { text-decoration: none; color: #336600; }
a:hover { color: #0033cc; }
ul { list-style: none; }
.simple-content { margin-bottom: 20px; text-align: center; }
.simple-content li { padding-bottom: 6px; }
.simple-content h3 { text-align: center; font-weight: bold; font-size: 1.2em; padding-bottom: 0.2em; }
.simple-content > div { display: inline-block; vertical-align: top; padding: 20px; }
.simple-form { max-width: 38em; margin: auto; }
.simple-form p { text-align: centre; padding-bottom: 0.1em; }
.simple-form .warning { margin-bottom: 0.7em; }
.simple-form label { float: left; clear: left; width: 6em; text-align: left; margin-left: 1em; }
.simple-form input[type=text], .simple-form input[type=password], .simple-form textarea { float: left; padding: 0.3em; width: 78%; margin: 0em 0em 0.8em 1em; }
.simple-form input[type=submit] { margin-bottom: 2em; width: 6em }
.simple-form textarea { height: 11em; }
.simple-form .checkbox-container { float: left; clear: left; padding: 0.3em; }
.simple-form .checkbox-label { width: auto; padding-right: 0.5em; }
.simple-form .buttons { float: right; clear: both; }
.simple-form input:focus, .simple-form textarea:focus { border: 2px solid #336600; }
.letter, .instructions, #grid-assistant { font-family: "Patrick Hand SC", Tahoma, sans-serif; color: #336600; }
button, input[type=submit] { background: #adc199; color: white; border-radius: 4px; padding: 3px 4px 3px 4px; margin: 8px 0px 0px 5px; }
button:hover, input[type=submit]:hover { background: #336600; }
.warning { color: red; }

/* Header */
header { text-align: center; margin: auto; padding-top: 5px; width: 250px; }
header img { float: left; border: 0px; }
nav { clear: left; font-weight: bold; text-align: center; margin: 10px 0px 20px 0px;
	  background: url(images/nav.png) repeat-x; background-size: contain; }
nav ul { padding: 5px; }
nav li { display: inline; white-space: nowrap; }

/* Contact */
#contact p:nth-last-child(2) { margin-bottom: 1em; }
#contact input[type=submit] { float: right; clear: both; margin-right: 18.5%; }

/* Grid */
#grid { text-align: center; position: relative; }
#grid > input { opacity: 0; z-index: -1; position: absolute; top: 0px; left: -500px; }
.light, .block { float: left; position: relative; width: 28px; height: 28px; line-height: 28px; border-bottom: 1px solid black; border-right: 1px solid black; }
.grid-number { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; line-height: 100%; text-align: left; vertical-align: top; }
.block { background: black; }
.target { background: #ffef75; }
.highlight { background: #ffffba; }
.letter { line-height: 100%; }
.buttons { text-align: right; padding-right: 10px; display: flex; justify-content: flex-end; flex-wrap: wrap; }

/* Clues */
.puzzle { clear: left; background: url(images/smudge.jpg) bottom right no-repeat; padding-bottom: 20px; }
.clue-box { display: inline-block; vertical-align: top; padding-left: 30px; margin: 0px 20px 20px -1px; }
.clue-box:nth-child(2) { border-left: 1px dashed; }
.clue-number { font-weight: bold; }
#clues, #blanks, #help-text, #save-puzzle { vertical-align: top; }

/* Grid Creator */
#blanks { overflow: auto; }
#blanks > svg { float: left; padding: 2px; border: 5px solid transparent; }
#blanks > svg:hover { border: 5px solid #336600; cursor: pointer; }
#suggestions, #intro-message { text-align: center; height: 7.5em; margin-top: 10px; overflow: auto; }
.suggestion { font-size: 0.8em; padding: 0em 0.2em 0em 0.2em; border-radius: 5px; white-space: nowrap; }
.suggestion:hover { background: #ffffba; cursor: pointer; }
.padding { padding-bottom: 2em; }
.fade { position: relative; bottom: 2em; height: 2em; pointer-events: none;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); }
#clues > .buttons { margin-right: 10px; }
#save-puzzle p, #login-form p { margin-bottom: 0.6em; }
#save-puzzle { margin-left: 10px; padding: 20px; border: 1px solid black; }
#save-puzzle .buttons { padding: 15px; }

/* Clue Creator */
.user-clue { margin-bottom: 4px; }
.user-clue > input { font-size: 1em; }
.user-clue > .clue-number { border-bottom: 2px solid white; }
.blank-clue { border-bottom: 1px dotted gray; }
.blank-clue > .numeration { float: right; }
.select-clue:hover { background: #ffffba; cursor: default; }

/* Help */
#grid > .instructions { font-size: 1.5em; width: 100%; height: 6em; position: absolute; top: 50%; transform: translate(0%, -50%); }
#intro-message > .instructions { font-size: 1.2em; }
.instructions > p { padding: 0.3em 0em 0.3em 0em; text-transform: uppercase; }
#help-text { text-align: justify; padding: 0px 20px 0px 20px; }
#help-text p { padding-bottom: 0.3em; }
#help-text ul { list-style: circle inside; padding-bottom: 0.3em; }
#help-text a { text-decoration: underline; }

/* Footer */
footer { border-top: 1px solid; clear: both; }
footer ul { padding: 0.5em 0em 2em 4em; font-size: 0.8em; }
footer li { display: inline; white-space: nowrap; }
footer li:before { content: "\2014\2009"; }
footer li:first-child:before { content: ""; }

@media screen {
	body { font-size: 0.85em; }
	h1 { padding-left: 10px; }
	h2 { padding-left: 10px; }
	h3 { font-size: 0.8em; }
	nav li { padding: 5px; }
	#grid-wrapper { display: inline-block; margin: 0px 20px 20px 10px; }
	#grid { height: 301px; }
	#grid, #grid-assistant, #grid-wrapper > .buttons { width: 301px; }
	.light, .block { width: 19px; height: 19px; line-height: 19px; border-bottom: 1px solid black; border-right: 1px solid black; }
	.topmost { border-top: 1px solid black; }
	.leftmost { border-left: 1px solid black; }
	#grid img { display: none; }
	.grid-number { top: 0px; font-size: 9px; }
	#clues { display: inline-block; }
	.clue-box { width: 280px; }
    #blanks { width: 100%; }
    #blanks > svg { margin-left: 30px; }
    #help-text { width: 90%; }
    #save-puzzle { width: 80%; }
    #choose-grid-message > .pointy:after { content: "\2193" }
    #intro-message > .pointy:after { content: "\2193"; }
}

@media screen and (min-width: 500px) {
	body { font-size: 1em; }
	h3 { font-size: 1em; }
	#grid { height: 436px; }
	#grid, #grid-assistant, #grid-wrapper > .buttons { width: 436px; margin-left: 30px; }
    #save-puzzle { margin-left: 30px; }
	.light, .block { width: 28px; height: 28px; line-height: 28px; }
	.grid-number { font-size: 11px; }
    #blanks > svg { margin-left: 0px; }
}

@media screen and (min-width: 580px) {
	.clue-box { width: 300px; }
}

@media screen and (min-width: 690px) {
	nav { font-size: 1.4em; }
	nav li { padding: 15px; }
}

@media screen and (min-width: 720px) {
	.simple-form label { text-align: right; margin-left: 0em; }
    .simple-form .checkbox-label { margin-left: 10em; }
	#contact p { padding-left: 5em; }
	#contact input[type=submit] { margin-right: 1em; }
}

@media screen and (min-width: 870px) {
    #blanks { width: 350px; height: 490px; }
    #choose-grid-message > .pointy:after { content: "\2192" }
}

@media screen and (min-width: 900px) {
	nav { font-size: 1.8em; }
	nav li { padding: 20px; }
}

@media screen and (min-width: 1020px) {
    #blanks { width: 520px; }
}

@media screen and (min-width: 1202px) {
    #intro-message > .pointy:after { content: "\2197"; }
    #help-text, #save-puzzle { width: 50%; }
}

@media screen and (min-width: 1280px) {
	.clue-box { width: 320px; }
    #blanks { width: 700px; }
}

@media print {
	a, header img, nav, #grid-assistant, .hide-solution .letter, #grid > input, .buttons, footer { display: none; }
	body { font-size: 0.75em; }
	h3 { font-size: 0.8em; }
	#grid-wrapper { display: block; margin: auto; padding: 15px 0px 30px 0px; width: 376px; }
	#grid { width: 376px; height: 376px; }
	.light, .block { width: 24px; height: 24px; line-height: 24px; border-bottom: 1px solid grey; border-right: 1px solid grey; }
	.topmost { border-top: 1px solid grey; }
	.leftmost { border-left: 1px solid grey; }
	#grid img { height: 100%; width: 100%; position: absolute; left: 0px; top: 0px;}
	.grid-number { top: 1px; font-size: 9px; }
	#clues { display: block; width: 630px; margin: auto; }
	.clue-box { width: 260px; }
	.clue-box li { padding: 1px; }
}

@page { size: portrait; }
