{% extends "base.html" %}

{% block title %}Contact | Three Pins{% endblock %}

{% block description %}Get in touch to leave feedback or to submit your own crosswords for publication.{% endblock %}

{% block main %}
<div id="contact" class="simple-content simple-form">
	{% if warning %}
	<p class="warning">{{ warning }}</p>
	{% endif %}
	<p>Any comments about this website or its crosswords?</p>
	<p>Got some crosswords of your own you'd like to share?</p>
	<p>Whatever the reason, please get in touch!</p>
	<form action="{% url 'contact' %}" method="post">
		{% csrf_token %}
		{{ form.as_div }}
		<input type="submit" name="send" value="Send" />
	</form>
</div>
{% endblock %}
